body{
    background: rgb(241, 215, 185);
    font-weight: 700;
    color: rgb(248, 247, 246);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(196, 153, 134);
    box-shadow: 0 -3px rgb(169, 150, 130) inset;  
}